<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation Demo</title>
  </head>
  <body>
    <h1>Success</h1>
    {% for e in emails %} #every single email you go through email, crated and updated


    <p>{{e.email}}, {{e.created_at}}, {{e.updated_at}}</p>

    {% endfor %}
    <!-- <p>your email({{request.form['email']}}) is valid!</p> rendering on a post, will keep the form alive, should not be able to talk about your form on the html. -->
    <!-- <form action="/process" method="post"> Whre do oyu want to send it. send it to  the route, that will tell us f the email looks good
      <label for="email">Email:</label>
      <input type="text" name="emmail"/>
      <button type="submit">Submit</button>
    </form> -->
  </body>
</html>
